body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #202938;
  color: white;
}

body h1 {
  text-align: center;
  text-decoration: underline;
  margin-top: 30px;
}

.coins-cash-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.coins, .cash, .total {
  width: 600px;
  height: auto;
  text-align: center;
  border: 2px solid white;
  border-radius: 2px;
}

.coins-header, .cash-header, .total-header {
  text-decoration: underline;
  color: green;
  font-size: 30px;;
}

.coins-column-container, .cash-column-container, .total-column-container {
  display: flex;
  justify-content: space-around;
  margin-top: -15px;
}

.column-title {
  text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
  color: red;
}